.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg { 
  /* The image used */
  background-image: url("./images/9290.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Changing styles of collapsible content */

.Collapsible__trigger {
  font-size: 2rem;
  color: #94c9ab;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
  display: inline-block;
}

.is-open {
  font-size: 2rem;
  color: #94c9ab;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
}

.Collapsible__contentInner a {
  color: #d29596;
  margin-bottom: 8px;
  font-size: 1.7rem;
  display: inline-block;
}


/*Changing styles of form */
.ui.form .field>label {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #d29596;
  font-weight: 400;
}

.ui.form .field.mg-top{
  margin-top: 20px;
}

.ui.form .field>input {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ui.form .field>textarea {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ui .button {
  background: none;
  border: 2px solid #d29596;
  font-size: 1.5rem;
  text-transform: uppercase;

}

.ui .button:hover {
  background: none;
}


/*Changing styles of search bar*/
.centered-width {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-content: baseline;
}

.centered {
  margin-top: 20px !important;
  width: 80%;
}

/*Changing styles of button */
.addplant {
  display: inline-block;
  height: 40px;
  padding: 0;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background: #94c9ab;
  border: none;
  color: #fff;
  font-size:  1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 0;
  border-radius: 3px;
  cursor: pointer;
}

.addplant:hover{
  background: #76a088;
  color: #fff;
}

.editplant {
  padding-top: 14px;
  margin-top: 30px;
}


/* Shadow to Card */

.ui.card:last-child {
  -webkit-box-shadow: -1px 13px 59px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 13px 59px -19px rgba(0,0,0,0.75);
  box-shadow: -1px 13px 59px -19px rgba(0,0,0,0.75);
}