.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg { 
  /* The image used */
  background-image: url("./images/9290.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Changing styles of collapsible content */

.Collapsible__trigger {
  font-size: 2rem;
  color: #94c9ab;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
  display: inline-block;
}

.is-open {
  font-size: 2rem;
  color: #94c9ab;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
}

.Collapsible__contentInner a {
  color: #d29596;
  margin-bottom: 8px;
  font-size: 1.7rem;
  display: inline-block;
}